*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #eef2ff;
  --border-radius: 10px;
  --border-color: #818cf8;
  --text-color: #1e1b4b;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

hr {
  border-color: var(--border-color);
}

.title {
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
}

.book-container {
  border: 2px solid var(--border-color);
  width: 300px;
  padding: 1rem;
  border-radius: var(--border-radius);
  margin: 1rem;
  cursor: pointer;
}

.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.img-container img {
  width: 80%;
}

.common-container {
  display: flex;
  flex-wrap: wrap;
}

.p-md {
  padding: 1rem;
}

.center {
  text-align: center;
}

.search-page {
  display: flex;
  justify-content: center;
}

.search-container {
  width: 50%;
  margin: 1rem;
}

.search-input {
  font-family: inherit;
  padding: 0.4rem 1rem;
  width: 100%;
  font-size: 1.2rem;
  border-radius: var(--border-radius);
  border: 2px solid var(--border-color);
}

@media only screen and (width <= 599px) {
  .book-container {
    width: 100%;
  }
}
